.filter-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.filter-select {
    width: 200px;
}

.intro-packy {
    font-size: 20px;
    margin: 20px auto 5px auto;
    font-weight: 400;
}