.foodcard-wrapper {
    width: 100%;
    height: auto;
    margin: 15px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img-product-container {
    width: 500px;
    height: 500px;    
}
.img-product-container img {
    width: 100%;
    height: 100%;
}

.product-title {
    font-size: 2rem;
    font-weight: 700;
}

.product-text {
    font-size: 1.3rem;
}

.product-price {
    font-size: 1.2rem;
    font-weight: 700;
    color: #D8610F;
}